NAME=Shitl.ink 
DESCRIPTION=site link with a H

#your management domains only thses will have access to your settings slug
DOMAINS=

#if one of your short urls is settings you can change this 
SETTINGS_SLUG=/settings

#your port
PORT=5000

#redis cachig format it <password>:dbip:port this is not needed but will improve preformane i havent made it yet soo it might be goood
REDIS=DISABLED

#your mysql database url
DATABASE_URI=mysql://127.0.0.1/shortlink

SESSION_SECRET=sr7ue0mhh7yger5yf8hub

GITHUB_LOGIN=disabled


DISCORD_LOGIN=disabled

DISCORD_LOGIN=disabled
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

#let new users signup
ALLOW_SIGNUPS=true

#when a new user signes up they can add their own domain(s)
NEWSIGNUP_ALLOW_ADD_DOMAIN=true

#default domain limit (does not apply to super users/owner)
DEFAULT_DOMAIN_LIMIT=2